body {
    font-family: 'dashi', sans-serif;
    
}
@font-face {
    font-family: 'oceansolid';
    src: url('/fonts/OceanSolid.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scarydemo';
    src: url('/fonts/scarydemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rimba';
    src: url('/fonts/Rimba.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dashi' ;
    src: url('/fonts/Dashing.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}