/* Reset de estilos básicos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #85e3ff, #e6e6e6);
    color: #333;
}

/* Estilo del encabezado */
header {
    background: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo del contenedor de navegación */
nav {
    margin: 20px auto;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 15px;
    position: relative;
}

/* Estilo de los enlaces */
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Estilo de las imágenes de los botones */
nav img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

/* Efecto al pasar el mouse sobre los enlaces */
nav a:hover {
    color: #007bff;
}

nav a:hover img {
    transform: scale(1.1);
}

/* Estilo para el texto de descripción */
nav span {
    display: none;
    position: absolute;
    top: 35px; /* Ajusta la posición de la descripción */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

/* Mostrar descripción al pasar el mouse */
nav li:hover span {
    display: block;
}

/* Estilo del contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para las secciones */
main {
    padding: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

/* Estilos para las imágenes de las atracciones */
.attraction img {
    max-width: 80%; /* Tamaño reducido de las imágenes */
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
    margin: 10px auto; /* Margen superior e inferior */
    display: block; /* Centrar la imagen */
}

/* Efecto de zoom en las imágenes */
.attraction img:hover {
    transform: scale(1.05);
}

/* Estilo del pie de página */
footer {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: 20px;
}
