/* estilos.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-weight: bold;
}

input[type="text"], input[type="file"], textarea, button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background: linear-gradient(135deg, rgba(26, 135, 179, 0.9), rgba(227, 201, 3, 0.9));
    color: #ff7700;
    border: none;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#reseñas {
    margin-top: 2rem;
}

.reseña {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.reseña h3 {
    margin-top: 0;
}

.reseña img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 1rem;
}

.reseña p {
    margin: 0.5rem 0;
}

.reseña small {
    color: #888;
}

.mensaje-exito {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    text-align: center;
}
